@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
    
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;

    --primary: theme('colors.primary');
    --secondary: theme('colors.secondary');
    --accent: theme('colors.accent');

    --text-primary: theme('colors.txt-primary');
    --text-secondary: theme('colors.txt-secondary');

    color: var(--text-primary);
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
    font-family: 'Anek Tamil';
}

.dialog-background {
    padding: 0.7vw;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid rgba(117, 117, 117, 0.48);
    border-radius: 4px;
}

.dialog-button {
    padding: 0.6vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.28) 0%, rgba(153, 153, 153, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.48);
    border-radius: 4px;
}

.dialog-button:hover {
    border: 1px solid rgba(134, 133, 239, 0.4);
    background: linear-gradient(90deg, rgba(134, 133, 239, 0.64) 0%, rgba(134, 133, 239, 0.2176) 100%);
}
